pandas~=2.3.1
numpy==1.26.4
requests~=2.32.4
pandas_ta
fastapi
uvicorn
jinja2
gymnasium
stable-baselines3
matplotlib
tensorboard

# Testing dependencies
pytest>=7.0.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0
pytest-watch>=4.2.0
